.calculator {
  height: 70vh;
  width: 100%;
  background: url('../../background.jpg');
  background-repeat: no-repeat;
}

.ticker {
  height: 70vh;
  width: 100%;
    background: url('../../ticker-background.jpg');
    background-repeat: no-repeat;
}